@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
/* common.css */

/* Home */
.home {
    height: 700px;
    overflow-y: auto;
}

/* Main CSS */
.mainProfile {
    font-family: 'Exo 2', sans-serif;
	font-size: 2vw;
	color: #666;
	text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
}

/* Profile CSS */
.test {
    padding: 20px 50px 20px 50px;
    background-image: linear-gradient(to bottom,  #92fe9d 0%, #00c9ff 100%);
    /* display: none; */
}

.introduce {
    display: flex;
    align-items: center;
}

.intro_exp {
    margin-left: 10px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

.profile_container {
    display: flex;
}

.profile_left{
    flex: 1;
}

.profile_right{
    flex: 1;
}

.profile {
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 30px;
    height: 30px;
}

.profile_header {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}


.profile_title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
}

.profile_subtitle {
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    color: #666;
}

.profile_content {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.skill_container {
    display: flex;
}

.skill_left{
    flex: 1;
}

.skill_right{
    flex: 1;
}

.skill {
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.skill img {
    width: 30px;
    height: 30px;
}

.skill_header {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}


.skill_title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
}

.skill_subtitle {
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    color: #666;
}

.skill_content {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.project_container {
    display: flex;
    /* margin: 10px 20% 10px 20%; */
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.project {
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.project img {
    width: 30px;
    height: 30px;
}

.project_header {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}

.project_container img {
    margin-left: 30px;
    width: 400px;
    height: 300px;
}

.card {
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    padding: 10px;
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_left {
    flex: 1;
    margin-top: 40px;
}

.card_right {
    flex: 1;
    margin-top: 40px;
}

.card_header {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
}

.card_subtitle {
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    color: #666;
}

.card_content {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.email {
    margin-left: 10px;
    
}

.tel {
    margin-left: 10px;
}

.addr {
    margin-left: 10px;
}

.contact_container img{
    margin-left: 30px;
    width: 20px;
    height: 20px;
}